---
import "../styles/index.css";
import { Image } from "astro:assets";
const { site } = Astro.props;
---

<li>
  <a class="card" href={site.url} target="_blank">
    <div class="card-head">
      <div class="site-image">
        {
          site.image ? (
            <Image src={site.image} alt={site.name} width="32" height="32"} />
          ) : (
            <span class="letter">{site.name[0]}</span>
          )
        }
      </div>
      <div class="site-name">
        <h3>{site.name}</h3>
      </div>
    </div>
    <div class="card-body">
      {
        site.description && (
          <div class="site-description">
            <p>{site.description}</p>
          </div>
        )
      }

      {
        site.tags && (
          <div class="site-tags">
            {site.tags.map((tag: string) => (
              <span class="tag">{tag}</span>
            ))}
          </div>
        )
      }
    </div>
  </a>
</li>
